{{- $image := .Page.Resources.GetMatch .Destination -}}
{{- if not $image -}}
    {{- $page := .Page.GetPage (path.Dir .Destination) -}}
    {{- $image = $page.Resources.GetMatch (path.Base .Destination) -}}
{{- end -}}
{{- if and (not $image) .Page.File -}}
    {{- $path := path.Join .Page.File.Dir .Destination -}}
    {{- $page := .Page.GetPage (path.Dir $path) -}}
    {{- $image = $page.Resources.GetMatch (path.Base $path) -}}
{{- end -}}
{{- with $image -}}
    <picture>
        {{- $webp := "" -}}
        {{- if or (eq .MediaType.SubType "png") (gt .Width 2400) -}}
            {{- $webp = .Resize (printf "%dx webp" (index (sort (slice .Width 2400)) 0)) -}}
        {{- end -}}
        {{- if and (gt .Width 600)  (not (eq .MediaType.SubType "gif")) -}}
            {{- $image600 := .Resize "600x" -}}
            {{- $image1280 := "" -}}
            {{- if gt .Width 1280 -}}
                {{- $image1280 = .Resize "1280x" -}}
            {{- end -}}
            {{- if $webp -}}
                {{- $webp600 := .Resize "600x webp" -}}
                {{- $webp1280 := "" -}}
                {{- if gt .Width 1280 -}}
                    {{- $webp1280 = .Resize "1280x webp" -}}
                {{- end -}}
                <source type="image/webp" srcset="{{ $webp600.RelPermalink }} 600w, {{ with $webp1280 }}{{ .RelPermalink }} 1280w, {{ end }}{{ $webp.RelPermalink }} {{ $webp.Width }}w" sizes="(max-width: 640px) 90vw, 600px">
            {{- end -}}
            <img src="{{ $image600.RelPermalink }}" alt="{{ $.Text }}" {{- with $.Title }} title="{{ . }}"{{ end }} width="{{ .Width }}" height="{{ .Height }}" srcset="{{ $image600.RelPermalink }} 600w, {{ with $image1280 }}{{ .RelPermalink }} 1280w, {{ end }}{{ .RelPermalink }} {{ .Width }}w" sizes="(max-width: 640px) 90vw, 600px">
        {{- else -}}
            {{- if $webp -}}
                <source type="image/webp" srcset="{{ $webp.RelPermalink }}">
            {{- end -}}
            <img src="{{ .RelPermalink }}" alt="{{ $.Text }}" {{- with $.Title }} title="{{ . }}"{{ end }} width="{{ .Width }}" height="{{ .Height }}">
        {{- end -}}
    </picture>
{{- else -}}
    <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" {{- with .Title }} title="{{ . }}"{{ end }}>
{{- end -}}
