{{ define "main" }}
<div class="loading-screen">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    <h1>Loading...</h1>
    <button class="start-game hidden"></button>
    <div class="controls">
        Controls:<br>
        Move: WASD or arrow keys or touch/move<br>
        Open/Close: Spacebar or Enter or click/touch
    </div>
</div>

<canvas id="map" class="hidden"></canvas>

<template id="modal-template">
    <div class="backdrop">
        <div class="lightbox">
            <div class="lightbox-footer">
                <a class="img-link" target="_blank" rel="noopener">
                    Open in new tab
                </a>
            </div>

            <span class="close"></span>
        </div>
    </div>
</template>

<script type="text/javascript">
    {{ $gregor := .Page.Resources.GetMatch "gregor.png" }}
    const gregorPaths = {"png": {{ $gregor.RelPermalink }}, "webp": {{ ($gregor.Resize "450x webp").RelPermalink }}};
    {{ $pages := .RegularPages -}}
    const games = [
        {{- range $index, $element := $pages }}
        {
            "title": {{ .Title }},
            "author": {{ .Params.author }},
            "authorLink": {{ .Params.author_link }},
            "pos": {{ .Params.pos }},
            {{ partial "gamemap/main-image" (dict "page" . "output" "json") | safeJS -}}
        }{{ if not (eq (add $index 1) (len $pages)) }},{{ end }}
        {{- end }}
    ]
</script>
{{ $main_js := resources.Get "/js/gamemap.js" | fingerprint "sha512" }}
<script src="{{ $main_js.RelPermalink }}" integrity="{{ $main_js.Data.Integrity }}" defer></script>
{{ end -}}
