{{ define "head" }}
    <link rel="preload" as="image" href="/img/gamemap/sealed.webp" type="image/webp">
{{ end }}
{{ define "main" }}
<div id="gamemap">
    <div class="loading-screen">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        <h1>Loading...</h1>
        <button class="start-game hidden"></button>
        <div class="controls">
            Controls:<br>
            Move: WASD or arrow keys or touch/move<br>
            Open/Close: Spacebar or Enter or click/touch
        </div>
    </div>

    <canvas id="map" class="hidden"></canvas>

    <template id="modal-template">
        <div class="backdrop">
            <div class="lightbox">
                <div class="lightbox-footer">
                    <a class="img-link" target="_blank" rel="noopener">
                        Open in new tab
                    </a>
                </div>

                <span class="close"></span>
            </div>
        </div>
    </template>
</div>

<script type="text/javascript">
    {{ $map := .Page.Resources.GetMatch "map.png" }}
    {{ $mapLine := .Page.Resources.GetMatch "map_line.png" }}
    {{ $mapOverlay := .Page.Resources.GetMatch "map_overlay.png" }}
    {{ $mapHole := .Page.Resources.GetMatch "map_hole.png" }}
    const mapPaths = {
        map: {png: {{ $map.RelPermalink }}, webp: {{ ($map.Resize (printf "%dx webp" $map.Width)).RelPermalink }}},
        line: {png: {{ $mapLine.RelPermalink }}, webp: {{ ($mapLine.Resize (printf "%dx webp" $map.Width)).RelPermalink }}},
        overlay: {png: {{ $mapOverlay.RelPermalink }}, webp: {{ ($mapOverlay.Resize (printf "%dx webp" $map.Width)).RelPermalink }}},
        hole: {png: {{ $mapHole.RelPermalink }}, webp: {{ ($mapHole.Resize "300x webp").RelPermalink }}},
    };
    {{ $gregor := .Page.Resources.GetMatch "gregor.png" }}
    {{ $gregorBoat := .Page.Resources.GetMatch "gregor_boat.png" }}
    const gregorPaths = {
        land: {png: {{ $gregor.RelPermalink }}, webp: {{ ($gregor.Resize "450x webp").RelPermalink }}},
        water: {png: {{ $gregorBoat.RelPermalink }}, webp: {{ ($gregorBoat.Resize "550x webp").RelPermalink }}}
    };
    {{ $pages := .RegularPages -}}
    const games = [
        {{- range $index, $element := $pages }}
        {
            title: {{ .Title }},
            author: {{ .Params.author }},
            authorLink: {{ .Params.author_link }},
            pos: {{ .Params.pos }},
            {{- if .Params.extra }}
                {{- $extra := .Resources.GetMatch .Params.extra }}
            extra: {png: {{ $extra.RelPermalink }}, webp: {{ ($extra.Resize (printf "%dx webp" $extra.Width)).RelPermalink }}},
            {{- end }}
            {{ partial "gamemap/main-image" (dict "page" . "output" "json") | safeJS -}}
        }{{ if not (eq (add $index 1) (len $pages)) }},{{ end }}
        {{- end }}
    ];
</script>
{{ $main_js := resources.Get "/js/gamemap.js" | minify |fingerprint "sha512" }}
<script src="{{ $main_js.RelPermalink }}" integrity="{{ $main_js.Data.Integrity }}" defer></script>
{{ end -}}
