{{ define "head" }}
    {{ partial "gamemap/main-image" (dict "page" . "output" "preload") -}}
{{ end }}
{{ define "main" }}
<div class="single-game">
    <div class="title">
        <h1>{{ .Title }}</h1>
        <span class="author">
            (by {{ partial "gamemap/author" . }})
        </span>

        <a href="{{ .Parent.RelPermalink }}" class="map-link">
            Back to map
        </a>
    </div>

    {{- partial "gamemap/main-image" (dict "page" .) -}}

    <div class="img-footer">
        by {{ partial "gamemap/author" . }}
    </div>
</div>
{{ end -}}

{{ define "partials/gamemap/author" }}
    {{ if (.Params.author_link) -}}
        <a href="{{ .Params.author_link }}" target="_blank" rel="noopener">
            {{- .Params.author -}}
        </a>
    {{- else -}}
        {{- .Params.author -}}
    {{- end -}}
{{ end }}
