article .body {
	margin-bottom: 16px;
}

.page-comic-post .deco {
	margin-bottom: 300px;
}
.vip-gifs .col {
	height: 1px;
	position: relative;
	bottom: 188px;
}
.finger-snack.vip-left {
	height: 189px;
}
.finger-snack.vip-eggs {
	height: 193px;
}


.hatguys-thumbs {
	padding: 10px 20px;
	text-align: center;
	margin: 0 -10px;
}
.hatguys-thumbs:after {
	content: "";
	display: table;
	clear: both;
}
.hatguys-thumbs a {
	font-family: 'Raleway', 'Futura', 'Century Gothic', 'Gotham', sans-serif;
	font-weight: normal;
	display: inline-block;
	width: 420px;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 10px;
	font-size: 12pt;
}
.hatguys-thumbs a img {
	display: block;
	margin: 0 auto;
}
.hatguys-thumbs .valign {
	display: table;
	width: 100%;
}
.hatguys-thumbs span {
	height: 70px;
	vertical-align: middle;
	display: table-cell;
}
