@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:900');

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.inner {
	max-width: 960px;
	margin: 0 auto;
}
.futura {
	font-family: 'futura-pt', 'Futura', 'Century Gothic', 'Gotham', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}
* {
	box-sizing: border-box;
}
html {
	background: url('../img/bg/main.png') center top repeat #48abd5;
}
body {
	min-width: 480px;
	font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4 {
	color: #000000;
	font-family: 'Raleway', 'Futura', 'Century Gothic', 'Gotham', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}
a {
	color: #fd6900;
}
a:hover {
	opacity: 0.8;
}
.hr {
	background: #e8ecf7;
	margin: 10px 0 30px 0;
	height: 2px;
	width: 100%;
}
#main {
	margin: 0 auto;
	background: white;
	max-width: 960px;
	padding-top: 30px;
}
@media screen and (min-width: 960px) {
	#main {
		width: 960px;
	}
}
@media screen and (min-width: 721px) {
	.fixed {
		z-index: 0;
		padding-top: 160px;
	}
}
@media screen and (min-width: 481px) {
	.narrow-only {
		display: none;
	}
}
@media screen and (max-width: 960px) {
	.wide-only {
		display: none;
	}
}
@media screen and (min-width: 960px) {
	.medium-or-less {
		display: none;
	}
}
@media screen and (max-width: 480px) {
	.medium-or-more {
		display: none;
	}
}
@media screen and (max-width: 960px) {
	.deco {
		display: none;
	}
}
body > header {
	background-image: url('../img/bg/header_1_left.png'),url('../img/bg/header_1_right.png'),url('../img/bg/header_sky.png');
	background-position: left top, right top,center top;
	background-repeat: no-repeat,no-repeat,repeat-x;
	background-attachment: scroll;
	box-shadow: 0 0 0 transparent;
	-webkit-transition: box-shadow 0.2s ease-out;
	transition: box-shadow 0.2s ease-out;
}
body > header:after {
	content: "";
	display: table;
	clear: both;
}
body > header .banner {



}
body > header .inner {
	position: relative;
}
body > header nav {
	clear: both;
	text-align: right;
	width: 100%;
}

body > header .headsup {
	width: 450px;
	height: 90px;
	float: right;
	margin: 20px 30px 0px 0px  ;
	text-align: right;


}

@media screen and (max-width: 960px) {
	/*   body > header .banner {
			display: none;
		} */
}
@media screen and (min-width: 721px) and (max-width: 960px) {
	body > header {
		min-height: 160px;
	}
	body > header > .inner {
		padding-top: 0px; /*was 110px;*/
	}
	body > header .banner {
	}
}
@media screen and (min-width: 721px) {
	.fixed > header {
		top: 0;
		left: 0;
		width: 100%;
		position: fixed;
		z-index: 5;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
		min-height: 50px;
	}
	.fixed > header .headsup {
		display: none;
	}
	.fixed > header > .inner {
		padding-top: 0;
	}
	.fixed > header nav .inner {
		background-image: url('../img/bg/logo-shadow-fixed.png');
		background-position: 10px 0;
	}

	.bottomsup {
		display:none
	}

}
@media screen and (max-width: 720px) {

	body > header {
		min-height: 50px;
		width: 100%;
		top: 0;
		z-index: 5;
	}

	body > header .headsup {
		display:none;
	}

	.bottomsup {
		position: fixed;
		z-index: 100;
		bottom: 0;
		right:0px;
		transform-origin:right bottom;
		transform: scale(0.8);
	}



	body > header nav .inner {
		background-image: url('../img/bg/logo-shadow-fixed.png');
		background-position: 10px 0;
	}


}
nav {
	position: relative;
	text-transform: uppercase;
	font-size: 16px;
}
nav .inner {
	min-height: 50px;
	background: url('../img/bg/logo-shadow.png') 0 0 no-repeat #fd6900;
}
nav a {
	font-family: 'Raleway', 'Futura', 'Century Gothic', 'Gotham', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	vertical-align: middle;
	display: inline-block;
	cursor: pointer;
}
.main-nav {
	background: #fd6900;
}
.main-nav a {
	height: 50px;
	line-height: 52px;
}
.main-nav button {
	position: absolute;
	outline: 0px none !important;
	width: 50px;
	right: 0;
	height: 50px;
	background-position: center;
	-webkit-transition: background-image 0.2s ease-in-out;
	transition: background-image 0.2s ease-in-out;
}

#twitchlink.live {
	color: red;
	background-color: #fff;
	padding: 0 20px 0 20px;

}

#twitchlink.live span{
	animation: blink 1s linear infinite;
}


@keyframes blink{
	0%{opacity: 0;}
	50%{opacity: 1;}
	100%{opacity: 0;}
}

.dropdowns {
	background: #883600;
}
.dropdowns .inner {
	background: #883600;
	min-height: 0;
}
.dropdowns .dropdown {
	-webkit-transition: height 0.2s ease-out;
	transition: height 0.2s ease-out;
	height: 0;
	z-index: 1;
	background: #883600;
	overflow: hidden;
}
.dropdowns .dropdown.is-shown {
	height: 50px;
}
@media screen and (max-width: 720px) {
	.open .inner {
		padding-bottom: 0;
	}
	.open .links {
		max-height: 400px;
		background: #883600;
		padding: 10px 20px;
	}
	.open .links a {
		margin-left: 0;
		font-size: 20px;
	}
}
@media screen and (min-width: 721px) {
	.main-nav button {
		display: none;
	}
	.main-nav a {
		margin-left: 52px;
	}
	.main-nav a:first-child {
		margin-left: 0;
	}
	.shim-dropdown {
		display: none;
	}
	.dropdown {
		text-align: center;
	}
}
@media screen and (min-width: 721px) and (max-width: 960px) {
	.main-nav .inner a {
		margin-left: 15px;
	}
	.main-nav .inner .ir-feed-icon {
		margin-right: 20px;
	}
	.dropdown {
		padding: 0 20px;
		text-align: right;
	}
}
@media screen and (max-width: 720px) {
	.main-nav .inner {
		padding-top: 1px;
	}
	.links {
		background: #fd6900;
		overflow: hidden;
		padding: 0 20px;
		max-height: 0;
		margin-top: 49px;
	}
	.links a {
		display: block;
		line-height: 2em;
	}
	.links a[data-dropdown-trigger] {
		display: none;
	}
	.links .ir-feed-icon {
		width: 100%;
		height: 25px;
		margin-top: 0;
	}
	.dropdowns {
		display: none;
	}
	#twitchlink.live {
		color: white;
		background-color: transparent;
		padding: 0;
	}

}
.pagination {
	font-family: 'Raleway', 'Futura', 'Century Gothic', 'Gotham', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	font-size: 32px;
	padding: 10px 0;
	white-space: nowrap;
}
.pagination.always-position-left {
	margin-top: 15px;
	text-align: left;
}
.pagination a {
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	width: 50px;
	height: 50px;
	margin-left: 20px;
	margin-right: 20px;
}
.pagination .ir-random {
	width: 58px;
	height: 58px;
}
.pagination .year {
	display: inline-block;
	line-height: 50px;
	padding-top: 4px;
	vertical-align: top;
}
.pagination .disabled {
	background: white;
}
.pagination.top {
	padding-top: 0;
}
.pagination.btm {
	padding-bottom: 20px;
}
@media screen and (max-width: 960px) {
	.pagination a {
		margin-left: 10px;
		margin-right: 10px;
	}
}
.hit {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.hit:hover {
	opacity: 1;
}
.transformstylepreserve3d .hit:hover .cube,
.transformstylepreserve3d .hit.rotate .cube {
	-webkit-transform: translateZ(-82.5px) rotateY(-5deg) rotateX(90deg);
	transform: translateZ(-82.5px) rotateY(-5deg) rotateX(90deg);
}
@media screen and (min-width: 481px) {
	.hit {
		width: 190px;
		height: 175px;
		margin-left: 22px;
	}
}
@media screen and (max-width: 720px) {
	.hit {
		height: 50px;
		width: 165px;
		background: url('../img/bg/logo-small.png') center center no-repeat;
		margin: 0px 20px;
	}
	.cube {
		display: none;
	}
}
.fixed .hit {
	height: 50px;
	width: 165px;
	background: url('../img/bg/logo-small.png') center center no-repeat;
	margin: 0px 20px;
}
.fixed .cube {
	display: none;
}
.cube {
	font-size: 0px;
	color: transparent;
}
.cube:before,
.cube:after {
	content: "";
	position: absolute;
	display: block;
}
.hit {
	-webkit-perspective: 800px;
	-ms-perspective: 800px;
	perspective: 800px;
	-webkit-perspective-origin: 30% 50%;
	-ms-perspective-origin: 30% 50%;
	perspective-origin: 30% 50%;
}
.not-fixed .cube {
	width: 165px;
	height: 165px;
	margin: 12px 21px;
	-webkit-transform: translateZ(-82.5px) rotateY(-5deg) rotateX(0deg);
	-ms-transform: translateZ(-82.5px) rotateY(-5deg) rotateX(0deg);
	transform: translateZ(-82.5px) rotateY(-5deg) rotateX(0deg);
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.not-fixed .cube:before,
.not-fixed .cube:after {
	width: 165px;
	height: 165px;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}
.not-fixed .cube:before {
	background: url('../img/bg/logo.png') 0 0 no-repeat #fd6900;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transform: translateZ(82.5px);
	transform: translateZ(82.5px);
}
.not-fixed .cube:after {
	background: url('../img/bg/logo-text.png') 0 0 no-repeat #fd6900;
	-webkit-transform: rotateX(-90deg) translateZ(82.5px);
	transform: rotateX(-90deg) translateZ(82.5px);
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
footer {
	background: black;
	padding: 30px 0;
}
footer:after {
	content: "";
	display: table;
	clear: both;
}
footer .fineprint {
	font-family: 'Raleway', 'Futura', 'Century Gothic', 'Gotham', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	padding: 20px 20px 0;
	margin: 0;
	color: #686868;
	font-size: 12px;
}
footer .fineprint a {
	color: #686868;
	text-decoration: none;
	margin-right: 2em;
}
footer .left {
	float: left;
}
footer .right {
	float: right;
}
footer .box + .standard-box-size {
	margin-top: 10px;
}
@media screen and (min-width: 960px) {
	footer {
		min-width: 960px;
	}
}
@media screen and (max-width: 960px) {
	footer .fineprint {
		text-align: center;
		float: none;
		padding: 20px 0 10px;
	}
	footer .fineprint a:last-child {
		margin-right: 0;
	}
	footer .fineprint + .fineprint {
		margin-top: -20px;
	}
	footer .box {
		float: left;
	}
	footer .box + .standard-box-size {
		float: left;
		/* overflow: hidden; */
		/* max-width: 290px; */
		/* margin-left: 10px; */
		margin-top: 0px;
	}
	footer .box + .standard-box-size iframe {
		margin-left: -5px;
	}
}
@media screen and (max-width: 720px) {
	footer .box,
	footer .box + .standard-box-size {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

	footer .fineprint + .fineprint {
		margin-bottom: 50px; /* adding space for bottomsup widget to cover it */
	}
}
.columns {
	clear: both;
	padding: 0 20px;
}
.columns:after {
	content: "";
	display: table;
	clear: both;
}
.columns .col {
	float: left;
	position: relative;
}
.columns .col + .col {
	margin-left: 20px;
}
.columns.two-thirds .col:first-child {
	width: 600px;
}
.columns.two-thirds .col:last-child {
	width: 300px;
}
.columns.three .col:first-child,
.columns.three .col:last-child {
	width: 165px;
}
.columns.three .col:nth-child(2) {
	width: 550px;
}
.columns.even-threes .col {
	width: 293.33333333px;
}
@media screen and (max-width: 960px) {
	.columns .col {
		float: none;
		width: 100% !important;
		margin-left: auto;
		margin-right: auto;
	}
	.columns.two-thirds .col:first-child {
		max-width: 600px;
	}
	.columns.two-thirds .col:last-child {
		max-width: 600px;
		margin-left: auto;
	}
	.columns.three .col + .col,
	.columns.even-threes .col + .col {
		margin-left: auto;
		margin-right: auto;
	}
}
/*.columns.bg-fluff {
   background: url('../img/fluff/sidebar.gif') right bottom no-repeat;

 }
.columns.bg-fluff .col + .col {
  padding-bottom: 320px;
} */
@media screen and (max-width: 480px) {
	.columns.bg-fluff {
		background: none;
	}
	.columns.bg-fluff .col + .col {
		padding-bottom: 0;
	}
}
.comic-thumb {
	text-decoration: none;
	max-height: 250px;
}
.comic-thumb img {
	width: 100%;
	display: block;
}
.comic-thumb span {
	font-family: 'Raleway', 'Futura', 'Century Gothic', 'Gotham', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	display: block;
	text-align: center;
	line-height: 52px;
	height: 50px;
	font-size: 20px;
}
.comic-thumb:hover {
	opacity: 1;
}
.comic-thumb:hover:before,
.comic-thumb:hover:after {
	opacity: 1;
}
.comic-thumb:hover img {
	opacity: 0.8;
}
.comic-thumb.highlight span {
	color: white;
	background: #fd6900;
}
.comic-thumbs {
	max-width: 600px;
	margin: 0 auto;
}
.comic-thumbs:after {
	content: "";
	display: table;
	clear: both;
}
.comic-thumbs a {
	text-decoration: none;
	max-height: 250px;
	float: left;
	width: 193.33333333px;
	margin-bottom: 10px;
}
.comic-thumbs a img {
	width: 100%;
	display: block;
}
.comic-thumbs a span {
	font-family: 'Raleway', 'Futura', 'Century Gothic', 'Gotham', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	display: block;
	text-align: center;
	line-height: 52px;
	height: 50px;
	font-size: 20px;
}
.comic-thumbs a:hover {
	opacity: 1;
}
.comic-thumbs a:hover:before,
.comic-thumbs a:hover:after {
	opacity: 1;
}
.comic-thumbs a:hover img {
	opacity: 0.8;
}
.comic-thumbs a.highlight span {
	color: white;
	background: #fd6900;
}
.comic-thumbs a img {
	background: grey;
	display: block;
	width: 100%;
}
.comic-thumbs a + a {
	margin-left: 10px;
}
.comic-thumbs .wide {
	width: 396.66666667px;
}
.comic-thumbs .wide.highlight span {
	vertical-align: middle;
}
.comic-thumbs .wide.highlight span:before,
.comic-thumbs .wide.highlight span:after {
	content: "★";
}
.comic-thumbs .wide.highlight span:before {
	margin-right: 50px;
}
.comic-thumbs .wide.highlight span:after {
	margin-left: 50px;
}
@media screen and (max-width: 480px) {
	.comic-thumbs {
		width: 396.66666667px;
		margin: 0 auto;
	}
	.comic-thumbs .wide + a,
	.comic-thumbs .wide + a + a + a {
		margin-left: 0;
	}
	.comic-thumbs .normal:first-child + a + a,
	.comic-thumbs .normal:first-child + a + a + a + a {
		margin-left: 0;
	}
}
@media screen and (min-width: 481px) and (max-width: 720px) {
	.comic-thumbs {
		width: 396.66666667px;
	}
	.comic-thumbs .wide + a,
	.comic-thumbs .wide + a + a + a {
		margin-left: 0;
	}
	.comic-thumbs .normal:first-child + a + a,
	.comic-thumbs .normal:first-child + a + a + a + a {
		margin-left: 0;
	}
}
@media screen and (min-width: 721px) {
	.comic-thumbs {
		margin-left: auto;
		margin-right: auto;
	}
	.comic-thumbs .wide + a + a {
		margin-left: 0;
	}
	.comic-thumbs .normal:first-child + a + a + a {
		margin-left: 0;
	}
	.comic-thumbs .wide {
		max-width: 100%;
	}
}
.news-ticker {
	padding-bottom: 20px;
}
.news-ticker h3 {
	font-size: 20px;
	background: #fd6900;
	color: white;
	line-height: 50px;
	text-align: center;
}
.news-ticker h3 a {
	color: white;
}
.news-ticker ul {
	list-style: none;
	padding: 0;
}
.news-ticker li {
	padding: 15px 0;
}
.news-ticker li + li {
	border-top: 3px solid #e8ecf7;
}
.news-ticker a {
	text-decoration: none;
}
.news-ticker span {
	display: block;
	line-height: 1.3em;
	font-family: 'Raleway', 'Futura', 'Century Gothic', 'Gotham', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}
.news-ticker .title {
	text-transform: uppercase;
	font-size: 20px;
}
.news-ticker .date {
	padding-top: 10px;
	color: #b7bed8;
	font-size: 14px;
}
.news-ticker .read-more {
	font-family: 'Raleway', 'Futura', 'Century Gothic', 'Gotham', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}
@media screen and (max-width: 480px) {
	.news-ticker {
		padding-bottom: 20px;
	}
}
.sidebar-highlights {
	padding-bottom: 20px;
	text-align: center;
}
.sidebar-highlights h3 {
	font-size: 20px;
	margin: 0;
	background: #fd6900;
	color: white;
	line-height: 50px;
	text-align: center;
}
.sidebar-highlights h3 a {
	color: white;
}
.sidebar-highlights ul {
	list-style: none;
	padding: 0;
}
.sidebar-highlights li {
	padding: 15px 0 0;
}
.sidebar-highlights a {
	text-decoration: none;
}
.sidebar-highlights img {
	max-width: 300px;
	display: inline-block;
}
.dream-supporters {
	font-family: 'Raleway', 'Futura', 'Century Gothic', 'Gotham', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	font-size: 21px;
	padding-bottom: 20px;
}
.dream-supporters h3 {
	margin: 0 0 -20px;
	height: 120px;
	line-height: 118px;
	color: white;
	background: url('../img/bg/dream-supporters.png') center 0 no-repeat;
	position: relative;
	z-index: 1;
}
.dream-supporters ul {
	margin: 0;
	padding: 0 0 10px;
	list-style: none;
}
.dream-supporters a {
	font-size: 12px;
	color: #fd6900;
	text-decoration: none;
}
.dream-supporters .want-to {
	font-size: 13px;
}
.dream-supporters .want-to:only-child {
	display: inline-block;
	font-size: 24px;
	max-width: 50%;
}
.dream-supporters .finger-snack {
	height: 218px;
}
.dream-supporters .vertically-centered {
	padding-bottom: 20px;
}
.super-supporters {
	text-align: center;
	position: relative;
	z-index: 0;
}
.super-supporters .supporter {
	width: 215px;
	height: 215px;
	display: inline-block;
}
.super-supporters .supporter img {
	width: 100%;
}
@media screen and (max-width: 480px) {
	.super-supporters .supporter {
		width: 150px;
		height: 150px;
	}
}
.and {
	font-size: 16px;
	margin: 1em 0;
	display: block;
}
.dream-supporters .super {
	margin: 0.4em 0;
	font-size: 31px;
}
@media screen and (min-width: 961px) {
	.dream-supporters {
		padding: 0;
	}
	.dream-supporters .vertical-center .vertically-centered {
		display: inline-block;
		vertical-align: middle;
	}
	.dream-supporters .vertical-center:after {
		content: "";
		width: 1px;
		height: 218px;
		display: inline-block;
		vertical-align: middle;
	}
}
.merch-options {
	padding: 0 10px;
	text-align: center;
}
.merch-options:after {
	content: "";
	display: table;
	clear: both;
}
.merch-options h3 {
	color: black;
	font-size: 30px;
	margin-bottom: 10px;
}
.merch-options .comic-thumb {
	height: auto;
	max-width: 293px;
	display: inline-block;
	margin: 0 auto 20px;
}

.merch-thumbs .valign {
	display: table;
	width: 100%;
}
.merch-thumbs span {
	height: 70px;
	line-height: 1.3em;
	vertical-align: middle;
	display: table-cell;
}


@media screen and (min-width: 481px) {
	.merch-thumbs .comic-thumb {
		width: 32%;
		margin: 0 0.4%;
	}
}
@media screen and (min-width: 960px) {
	.merch-options .comic-thumb {
		margin: 0 0.9%;
	}
}
@media screen and (max-width: 720px) and (min-width: 481px) {
	.merch-options .comic-thumb {
		width: 30%;
		margin: 0 1%;
	}
	.merch-options .comic-thumb span {
		font-size: 16px;
	}
}
.merch-options + .beam {
	margin-top: 20px;
}
/*
@media screen and (max-width: @narrow_width) {
  .merch-options {
    padding: 0 @gutter;

    .comic-thumb {
      display: block;
      margin: @gutter auto;

      img {
        display: none;
      }

      span {
        background: @bg_secondary;
        box-shadow: 5px 5px 0 0 black;

        &:before {
          content: " ";
          display: inline-block;
          margin-right: 1em;
        }

        &:after {
          content: "▶";
          margin-left: 1em;
          font-size: smaller;
          display: inline-block;
        }
      }
    }
  }
}

*/
.comments {
	padding-top: 20px;
	padding-bottom: 20px;
}
.comments h3 {
	text-align: center;
	font-size: 21px;
	height: 90px;
	margin: 0;
	line-height: 92px;
	color: white;
	background: url('../img/bg/comment-heading.png') center center no-repeat;
}
.comments .trigger {
	cursor: pointer;
}
.comments .trigger:hover {
	opacity: 0.8;
}
.comments .trigger:before,
.comments .trigger:after {
	content: "▼";
	text-align: center;
	margin: 0 2em;
}
.collapse {
	max-height: 0;
	overflow: hidden;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.is-open .trigger:before,
.is-open .trigger:after {
	content: "▲";
}
.is-open .collapse {
	max-height: 20000px;
}
.comment-navigation:after {
	content: "";
	display: table;
	clear: both;
}
.comment-navigation .nav-previous a {
	float: left;
}
.comment-navigation .nav-next a {
	float: right;
}
.comment-list {
	list-style: none;
	padding: 0;
}
.comment-list .comment {
	display: block;
	clear: both;
	position: relative;
	padding: 20px;
}
.comment-list .comment + .comment {
	border-top: 1px solid #b7bed8;
}
.comment-list .pingback + .comment {
	border-top: 1px solid #b7bed8;
}
.comment-list .comment .comment {
	padding-right: 0;
	background: #f8f8f8;
}
.comment-list .comment-body:after {
	content: "";
	display: table;
	clear: both;
}
.comment-list .comment-body > p {
	margin-left: 90px;
	max-width: 720px;
}
.comment-list .comment-author {
	font-family: 'Raleway', 'Futura', 'Century Gothic', 'Gotham', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 16px;
}
.comment-list .comment-author a {
	text-decoration: none;
}
.comment-list .comment-author cite {
	margin-left: 10px;
	font-style: normal;
}
.comment-list .comment-author img {
	float: left;
}
.comment-list .comment-meta {
	line-height: 1.8em;
	margin-left: 90px;
}
.comment-list .comment-meta a {
	font-family: 'Raleway', 'Futura', 'Century Gothic', 'Gotham', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	color: #b7bed8;
	text-decoration: none;
	cursor: normal;
}
.comment-list .reply {
	font-family: 'Raleway', 'Futura', 'Century Gothic', 'Gotham', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 16px;
	position: absolute;
	top: 20px;
	right: 20px;
}
.comment-list .reply a {
	text-decoration: none;
}
.comment-list .pingback {
	display: none;
}
.comment-list .children {
	margin: 20px 0 0;
}
.comment-respond {
	font-family: 'Raleway', 'Futura', 'Century Gothic', 'Gotham', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	position: relative;
}
.comment-respond:after {
	content: "";
	display: table;
	clear: both;
}
.comment-respond form {
	padding: 0 20px;
}
.comment-respond textarea {
	border: 1px solid #b7bed8;
	margin-left: 1em;
}
.comment-respond code {
	font-weight: normal;
	display: block;
}
.comment-respond input[type=submit] {
	font-family: 'Raleway', 'Futura', 'Century Gothic', 'Gotham', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	border: 0px none;
	padding: 10px 20px 7px;
	font-size: 18px;
	display: inline-block;
	float: right;
	background: #fd6900;
	color: white;
}
.comment-respond h3 a {
	text-decoration: none;
	color: white;
}
.comment-respond small {
	font-size: normal;
}
.comment-respond small a {
	position: absolute;
	bottom: 0;
	left: 20px;
	line-height: 30px;
	display: inline-block;
	color: #fd6900;
}
.comment-respond .logged-in-as a {
	text-decoration: none;
}
.comment-respond .form-allowed-tags {
	padding-top: 1em;
	max-width: 430px;
}
.comment-respond .form-allowed-tags code {
	margin-top: 1em;
}
.comment-navigation {
	padding: 0 20px;
}
.comment-navigation a {
	color: #fd6900;
	text-decoration: none;
}
.comments .comment-reply-title {
	margin-top: -40px;
}
.ribbon {
	position: relative;
}
.ribbon:before,
.ribbon:after {
	background: url('../img/sprites/ribbon.png') 0 0 no-repeat;
	height: 55px;
	width: 30px;
	position: absolute;
	bottom: -5px;
}
.ribbon.left:before {
	content: "";
	left: -30px;
}
.ribbon.right:before {
	content: "";
	right: -30px;
	background-position: -30px 0;
}
@media screen and (max-width: 960px) {
	.ribbon:before,
	.ribbon:after {
		display: none;
	}
}
.box {
	/* min-height: 250px; was 170px */
	/*background: url('/promo-images/med.png') center center no-repeat;*/
}
.standard-box-size {
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}
@media screen and (max-width: 960px) {
	.box {
		text-align: center;
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
}
.beam {
	background: #e8ecf7;
	margin: 0 0 20px 0;
}
.beam img {
	max-width: 100%;
}
.beam.adblock-message:before {
	font-size: 12px;
}
.beam:last-child {
	margin-bottom: 0;
}
.banner {

}
@media screen and (max-width: 480px) {
	.facebook-widget {
		display: none;
	}
}
/*
.adblock-message.show {
  position: relative;
  z-index: 0;

  &:hover:before {
    display: none;
  }

  &:before {
    overflow: hidden;
    content: "Don't like ads? That's okay, maybe consider becoming a patron instead!";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    .futura;
    font-size: 18px;
    padding: @gutter;
    z-index: -1;
  }
}

.ie .adblock-message:before { display: none; }
*/
.social-links:after {
	content: "";
	display: table;
	clear: both;
}
.social-links .ir {
	width: 74px;
	height: 74px;
	float: left;
}
.social-links .ir-gp {
	margin-left: 2px;
}
.social-links .ir-rd {
	margin-left: 1px;
}
.social-links h3 {
	clear: left;
	color: black;
	text-align: center;
	font-size: 20px;
	line-height: 2em;
}
.social-links a {
	margin-top: 0;
}
@media screen and (max-width: 960px) {
	.social-links {
		margin-top: 20px;
		text-align: center;
	}
	.social-links .ir {
		float: none;
		display: inline-block;
	}
	.social-links h3 {
		margin-top: 0;
	}
}
.widget.widget_execphp {
	overflow: hidden;
}
.widget.widget_text + .widget_text {
	margin-top: 10px;
}
.widget + .widget {
	margin-top: 10px;
}
.widget + .widget:before {
	content: "";
}
.widget .textwidget {
	/* min-height: 250px;  */
}
.beam .widget .textwidget {
	min-height: 0;
}
@media screen and (max-width: 960px) {
	.col .widget {
		vertical-align: top;
		max-width: 300px;
		display: inline-block;
	}
	.col .widget + .widget {
		margin-top: 0;
	}
}
@media screen and (max-width: 720px) {
	.col .widget {
		margin: 10px auto !important;
		display: block;
	}
}
.page-comic-layout .comic {
	margin: 0 auto 20px;
	text-align: center;
}
.page-comic-layout .comic a:hover {
	opacity: 1;
}
.page-comic-layout .comic img {
	max-width: 100%;
}
.page-comic-layout .prev,
.page-comic-layout .next {
	display: block;
	width: 165px;
	padding-top: 10px;
}
.page-comic-layout .prev span,
.page-comic-layout .next span {
	position: relative;
}
.page-comic-layout .prev img,
.page-comic-layout .next img {
	width: 100%;
}
@media screen and (min-width: 1000px) {
	.page-comic-layout .prev span:before,
	.page-comic-layout .next span:after {
		content: "";
		background: #fd6900;
		position: absolute;
		top: 0;
		height: 55px;
		width: 30px;
	}
	.page-comic-layout .prev span:before {
		right: 100%;
		width: 30px; height: 55px;
		background: url('../img/sprites/buttons.png') -228px -10px;
	}
	.page-comic-layout .next span:after {
		left: 100%;
		width: 30px; height: 55px;
		background: url('../img/sprites/buttons.png') -158px -80px;
	}
}
.page-comic-layout .first,
.page-comic-layout .last {
	width: 65px;
	height: 50px;
	display: block;
	margin: 20px -20px 0;
}
.page-comic-layout .first {
	background: url('../img/sprites/buttons.png') no-repeat -88px -10px;
	width: 50px;
	height: 50px;

}
.page-comic-layout .last {
	float: right;
	width: 50px; height: 50px;
	background: url('../img/sprites/buttons.png') -10px -86px;
}
.page-comic-layout .wide-only .ir-random {
	position: absolute;
	bottom: -5px;
	left: 50%;
	margin-left: -29px;
}
.page-comic-layout .pad-bottom {
	padding-bottom: 70px;
}
.page-comic-layout .social-links {
	padding: 5px 0;
}
.page-comic-layout .social-links a {
	margin: 4px;
}
.page-comic-layout .social-links h3 {
	padding-top: 20px;
	padding-bottom: 47px;
}
.page-comic-post header {
	text-align: center;
}
.page-comic-post header h1 {
	font-size: 30px;
	color: black;
	margin: 10px 0 0;
}
.page-comic-post .beam {
	margin-top: 40px;
}
@media screen and (max-width: 720px) {
	.page-comic-post .body {
		padding: 0 20px;
	}
}
.bottom {
	position: absolute;
	top: -80px;
	width: 50px;
	height: 50px;
}
.bottom.prev {
	right: 0;
}
.bottom.next {
	left: 0;
}
.animated-share {
	overflow: hidden;
	padding-top: 20px;
	text-align: center;
	height: 100px;
}
.animated-share a {
	display: inline-block;
	width: 90px;
	height: 90px;
	margin: 0 5px;
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
	-webkit-transform: translateX(-600px);
	-ms-transform: translateX(-600px);
	transform: translateX(-600px);
}
.animated-share .ir-anim-fb {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}
.animated-share .ir-anim-tw {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
.animated-share .ir-anim-rd {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
.animated-share .ir-anim-tu {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
.animated-share.reveal a {
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
}

.bonus-panel {
	overflow: hidden;
	padding-top: 0px;
	text-align: center;


}
.bonus-panel a {
	display: inline-block;


}


@media screen and (max-width: 520px) {
	.bonus-panel img {

		width: 90%;
	}
}
.finger-snack {
	height: 163px;
	width: 100%;
	position: relative;
	overflow: hidden;
	/*cursor: pointer;*/
}
.finger-snack img {
	position: absolute;
	top: 0;
	left: 0;
}
.touchevents .finger-snack.touch img,
.no-touchevents .finger-snack:hover img {
	top: auto;
	bottom: 0;
}
.archive-thumbs {
	padding: 10px 20px;
	text-align: center;
	margin: 0 -10px;
}
.archive-thumbs:after {
	content: "";
	display: table;
	clear: both;
}
.archive-thumbs a {
	font-family: 'Raleway', 'Futura', 'Century Gothic', 'Gotham', sans-serif;
	font-weight: normal;
	display: inline-block;
	width: 200px; /*G: was 193px */
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 10px;
	font-size: 12pt;
}
.archive-thumbs a img {
	display: block;
}
.archive-thumbs .valign {
	display: table;
	width: 100%;
}
.archive-thumbs span {
	height: 70px;
	vertical-align: middle;
	display: table-cell;
}
.page-standard-layout .content {
	padding: 20px;
	font-size: 16px;
	line-height: 1.5em;
}
.page-standard-layout h1,
.page-standard-layout h2,
.page-standard-layout h3,
.page-standard-layout h4 {
	clear: both;
	color: black;
	text-align: center;
	font-size: 32px;
	line-height: 1.2em;
	margin-top: 1em;
}
.page-standard-layout h1,
.page-standard-layout h2:first-child,
.page-standard-layout h3:first-child,
.page-standard-layout h4:first-child {
	margin-top: 0;
}
.stacking-links {
	margin: 0 -5px;
	text-align: center;
}
.stacking-links:after {
	content: "";
	display: table;
	clear: both;
}
.stacking-links a {
	display: inline-block;
	margin: 0 5px;
}
.stacking-links img {
	display: block;
	max-width: 100%;
}
.store-links {
	margin: 0 -5px;
	text-align: center;
}
.store-links:after {
	content: "";
	display: table;
	clear: both;
}
.store-links a {
	display: inline-block;
	margin: 0 5px;
}
.store-links img {
	display: block;
	max-width: 100%;
}
.store-links a {
	text-decoration: none;
	max-height: 250px;
	max-height: none;
	margin-bottom: 20px;
}
.store-links a img {
	width: 100%;
	display: block;
}
.store-links a span {
	font-family: 'Raleway', 'Futura', 'Century Gothic', 'Gotham', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	display: block;
	text-align: center;
	line-height: 52px;
	height: 50px;
	font-size: 20px;
}
.store-links a:hover {
	opacity: 1;
}
.store-links a:hover:before,
.store-links a:hover:after {
	opacity: 1;
}
.store-links a:hover img {
	opacity: 0.8;
}
.store-links a.highlight span {
	color: white;
	background: #fd6900;
}
.store-links span {
	white-space: nowrap;
}
@media screen and (min-width: 481px) {
	.store-links a {
		margin-bottom: 0;
		max-width: 210px;
	}
}
@media screen and (min-width: 721px) {
	.store-links a {
		max-width: 330px;
	}
}
@media screen and (min-width: 960px) {
	.store-links a {
		max-width: 450px;
	}
}
article h1 {
	margin: 0;
	padding: 13px 0 0;
	font-size: 32px;
}
article h1 a {
	text-decoration: none;
}
article .meta {
	font-family: 'Raleway', 'Futura', 'Century Gothic', 'Gotham', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 14px;
	padding: 5px 0;
}
article .meta a {
	text-decoration: none;
}
article .meta .date {
	color: #b7bed8;
}
article .meta .twitter-icon {
	background: url('../img/bg/author-tw.png') 0 0 no-repeat;
	padding-left: 20px;
	padding-top: 2px;
}
article .meta .tiny-buttons {
	float: right;
	margin-top: -5px;
}
article .meta .tiny-buttons a {
	margin-left: 4px;
	display: inline-block;
	width: 28px;
	height: 28px;
}
article .body {
	font-size: 16px;
	line-height: 1.4em;
	text-align: justify;
}
article .body img {
	max-width: 100%;
	height: auto;
}
article .body iframe {
	display: block;
	max-width: 100%;
}
article header.mood {
	min-height: 120px;
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 135px;
	margin-left: -40px;
}
.page-layout-news article {
	padding-bottom: 20px;
}
.page-layout-news .pagination {
	padding-bottom: 20px;
}
.page-layout-news .pagination:after {
	content: "";
	display: table;
	clear: both;
}
.page-layout-news .pagination a {
	margin: 0 20px;
}
.page-layout-news .pagination .ir-prev,
.page-layout-news .pagination .ir-first {
	float: left;
}
.page-layout-news .pagination .ir-next,
.page-layout-news .pagination .ir-last {
	float: right;
}
.body a {
	text-decoration: none;
}
.actions .ribbon {
	display: inline-block;
	background: #fd6900;
	line-height: 50px;
	color: white;
	text-decoration: none;
	margin: 2em 0 1em 0;
	padding: 0 50px 0 43px;
	font-size: 20px;
	font-family: 'Raleway', 'Futura', 'Century Gothic', 'Gotham', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}
.actions .ribbon:hover {
	opacity: 1;
}
.actions .ribbon:before {
	background: url('../img/buttons/prev.png') 0 0 no-repeat;
}
.read-more {
	font-family: 'Raleway', 'Futura', 'Century Gothic', 'Gotham', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 1em;
	display: inline-block;
}
@media screen and (max-width: 480px) {
	.page-layout-news .pagination a {
		margin: 10px;
	}
}
.page-error {
	padding-bottom: 20px;
}
.page-error h1,
.page-error h2 {
	text-align: center;
}
.title-404 {
	font-size: 200px;
	margin: 0;
	line-height: 1;
}
.subtitle-404 {
	font-size: 50px;
	line-height: 1;
	margin-top: -0.1em;
}
@media screen and (max-width: 720px) {
	.subtitle-404 {
		font-size: 40px;
	}
}
.ir-feed-icon {
	width: 25px;
	height: 25px;
	background: url('../img/buttons/rss.png') right center no-repeat;
}
.ir-random {
	width: 58px; height: 56px;
	background: url('../img/sprites/buttons.png') -10px -10px;
}
.ir-fb {
	width: 74px; height: 74px;
	background: url('../img/sprites/share.png') -10px -212px;
}
.ir-tw {
	width: 74px; height: 74px;
	background: url('../img/sprites/share.png') -212px -10px;
}
.ir-gp {
	background-image: url('../img/share/gp.png');
}
.ir-in {
	width: 74px; height: 74px;
	background: url('../img/sprites/share.png') -104px -212px;
}
.ir-rd {
	width: 74px; height: 74px;
	background: url('../img/sprites/share.png') -198px -212px;
}
.ir-tt {
	width: 74px; height: 74px;
	background: url('../img/sprites/share.png') -306px -10px;
}
.ir-dc {
	width: 74px; height: 74px;
	background: url('../img/sprites/share.png') -212px -104px;
}
.ir-tiny-fb {
	width: 28px; height: 28px;
	background: url('../img/sprites/share.png') -306px -152px;
}
.ir-tiny-tw {
	width: 28px; height: 28px;
	background: url('../img/sprites/share.png') -306px -104px;
}
.ir-anim-fb {
	width: 81px; height: 81px;
	background: url('../img/sprites/share.png') -111px -10px;
}
.ir-anim-tw {
	width: 81px; height: 81px;
	background: url('../img/sprites/share.png') -10px -10px;
}
.ir-anim-gp {
	background-image: url('../img/share/gp-large.png');
}
.ir-anim-rd {
	width: 81px; height: 81px;
	background: url('../img/sprites/share.png') -10px -111px;
}
.ir-anim-su {
	background-image: url('../img/share/su-large.png');
}
.ir-anim-pi {
	background-image: url('../img/share/pi-large.png');
}
.ir-anim-tu {
	width: 81px; height: 81px;
	background: url('../img/sprites/share.png') -111px -111px;
}
.ir-first {
	width: 50px; height: 50px;
	background: url('../img/sprites/buttons.png') -88px -10px;
}
.ir-prev {
	width: 50px; height: 50px;
	background: url('../img/sprites/buttons.png') -158px -10px;
}
.ir-next {
	width: 50px; height: 50px;
	background: url('../img/sprites/buttons.png') -80px -86px;
}
.ir-last {
	width: 50px; height: 50px;
	background: url('../img/sprites/buttons.png') -10px -86px;
}
.ir-nav {
	background-image: url('../img/buttons/nav.png');
}
.open .ir-nav {
	background-image: url('../img/buttons/nav-close.png');
}
.ir-bonus-panel {
	background-image: url('../img/patreon/bonus_panel.png');
}
img.wp-smiley {
	max-height: 28px !important;
	height: 28px !important;
	width: 28px;

}
