div.above-header-bar {
	padding: 5px;
	background: #c00;
	color: #fff;
	text-align: center;
	font-size: 16px;
}
.fixed div.above-header-bar {
	display: none;
}
a.real-la-link,
a.real-la-link:hover,
a.real-la-link:active,
a.real-la-link:focus,
a.real-la-link:visited {
	color: white;
	font-weight: bolder;
	text-decoration: underline;
}
