<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" charset="UTF-8" content="text/html">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="noindex">

    {{ $subtitle := "" -}}
    {{ if not (eq .Kind "home") -}}
        {{ $subtitle = .Title -}}
    {{ end -}}
    <title>{{ .Site.Title }}{{ with $subtitle }} &raquo; {{ . }}{{ end }}</title>

    {{- $description := .Summary }}
    {{- if eq .Kind "home" }}
        {{- $description = .Site.Params.description }}
    {{- end }}
    {{- with $description }}
    <meta name="description" content="{{ . }}" />
    {{- end }}

    <meta name="twitter:card" content="summary" />
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:title" content="{{ if eq .Kind "page" }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ with $subtitle }} &raquo; {{ . }}{{ end }}{{ end }}">
    {{- with $description }}
    <meta property="og:description" content="{{ $description }}">
    {{- end }}
    {{- with .Resources.GetMatch "thumb.*"}}
    <meta property="og:image" content="{{ .Permalink }}">
    {{- end }}

    {{- block "head" . }}{{- end -}}

    <link rel="preload" as="fetch" href="{{ .Site.Params.twitchApiHost }}" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&amp;family=Raleway:wght@900&amp;display=swap" rel="stylesheet">
    {{ $css_reset := resources.Get "/css/reset.css" -}}
    {{ $css_style := resources.Get "/css/style.css" -}}
    {{ $css_sprites := resources.Get "/css/sprites.css" -}}
    {{ $css_gravity := resources.Get "/css/gravity.css" -}}
    {{ $css_warning := resources.Get "/css/warning.css" -}}
    {{ $css_additional := resources.Get "/css/additional-style.css" -}}
    {{ $css_all := slice $css_reset $css_style $css_sprites $css_gravity $css_warning $css_additional | resources.Concat "/css/all.css" | minify | fingerprint "sha512" -}}
    <link rel="stylesheet" href="{{ $css_all.RelPermalink }}" integrity="{{ $css_all.Data.Integrity }}" media="screen">

    <link rel="canonical" href="{{ .Permalink }}" />
    <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }} Feed" href="{{ .Site.BaseURL }}index.xml" />

    <!--                                                  ddd
    dd                                                   dddd
    ddd                                                 ddddd
    ddddd                                             ddddddd
    ddddddd                                         ddddddddd
    ddddddddd                                      dddddddddd
    ddddddddddd                                   ddddd  ddddd
   ddddd ddddddd                                 ddddd   ddddd
   ddddd   ddddddd                              ddddd    ddddd
   ddddd    ddddddd                            dddddd    ddddd
   ddddd     ddddddddddddddddddddddddddddddddddddddd     ddddd
   ddddd      ddddddddddddddddddddddddddddddddddddd      ddddd
   ddddd       ddddddddddddddddddddddddddddddddddd       ddddd
   ddddd                                                 ddddd
   ddddddddddddddd                                ddddd  ddddd
   dddddddddddddddddd                       dddddddddddddddddd
  dddddddd     dddddddd                  ddddddddddddddddddddd
dddddd             dddddd              ddddddd           ddddddd
ddddd                 ddddd            ddddd                ddddd
dddd        ddddd      ddddd          ddddd                  ddddd
ddddd      ddddddddd     ddddd        dddd        dddddd       dddd
dddd       ddddddddd      dddd        dddd       dddddddd      dddd
ddddd       ddddddd       dddd       ddddd       ddddddd       dddd
ddddd        ddd         dddd       ddddd        ddddd       ddddd
dddddd                  dddd         ddddd                  dddddd
dddddddd             dddddd         dddddd               ddddddd
  ddddddddd      dddddddd            ddddddd          ddddddddd
  ddddddddddddddddddddd               ddddddddddddddddddddddddd
ddddddddddddddddddddddddd                    ddddddddddddddddddddddddddddddd
ddddddddddddd                                   ddddddddddd    ddddddddddddd
dddddddddd                                                  dddddddd
  dddddd                                                  ddddddd
  dddddd                                                  dddddd
dddddddddddd                                                  ddddddddd
ddddddddddddd                                                  dddddddddddddddd
  dddddd                                                  dddddd
  dddddd                                                  ddddd-->

</head>
<body>
<div class="above-header-bar">
    This is <b>NOT</b> the real LoadingArtist Website! Click <a href="https://loadingartist.com" class="real-la-link">HERE</a> to go to the real site!<br>
    This website contains community made redraws of LoadingArtist Comics of the past 10 years.
</div>
<nav class="main-nav" id="menu-nav" aria-label="Primary">
    <a class="box2d logo" href="/" aria-label="{{ .Site.Title }}">
        <div class="cube"></div>
    </a>
    <input type="checkbox" id="nav-toggle" class="nav-toggle" aria-hidden="true">
    <ul>
        {{ range first 1 (where .Site.RegularPages "Section" "comic") }}
        <li class="box2d"><a href="{{ .RelPermalink }}">Comic</a></li>
        <li class="box2d"><a href="/archives/">Archive</a></li>
        {{ end }}
        <li class="box2d"><a href="/store/" target="_blank" rel="noopener">Store</a></li>
        <li class="box2d"><a href="https://www.patreon.com/LoadingArtist" target="_blank" rel="noopener">Patreon</a></li>
        <li class="box2d"><a id="twitchlink" href="https://twitch.tv/loadingartist" target="_blank" rel="noopener">Twitch</a></li>
        <li class="box2d"><a href="/index.xml" aria-label="Feed"><div class="btn-feed"></div></a></li>
    </ul>
    <a href="#" aria-label="Search" class="mobile-only btn-search"></a>
    <label for="nav-toggle" class="nav-toggle-label" aria-label="Open Navigation">
        <span></span>
    </label>
</nav>

<header class="main-header">
    <!-- move header lower in DOM for better tab-order, it's moved with css `order` to the top again -->
    <a class="box2d header-widget" target="_blank" rel="noopener"><img src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20450%2090%22%3E%3C/svg%3E"></a>
</header>

<main>
    {{- block "main" . }}{{- end }}
</main>

<footer>
    <div class="columns two-thirds">
        <div class="col">
            <div class="comic-thumbs">
            {{ $highlightTexts := slice "Upvoted!" "Classic!" "Recommended!" "This! This!!" "Okay!" "Frontpaged!" "Super Popular!" "Fan Favourite!" "Special!" "Extra special!" "Pure Gold!" "One more!" -}}
            {{ $comics := where .Site.RegularPages "Section" "comic" -}}

            {{ if in (slice "home" "404") .Kind -}}
                {{ $comics = after 3 $comics -}}
            {{ else -}}
                {{ with .File -}}
                    {{ $comics = where $comics "File.ContentBaseName" "!=" .File.ContentBaseName -}}
                {{ end -}}
            {{ end -}}
            {{ range $index, $element := first 6 (shuffle $comics) -}}
                {{ $highlightClass := "" -}}
                {{ $text := "Random" -}}
                {{ if in (slice 0 3) $index -}}
                    {{ $highlightClass = "highlight" -}}
                    {{ $text = index (shuffle $highlightTexts) 0 -}}
                {{ end -}}

                <a class="comic-thumb {{ $highlightClass }} random" data-random-source="comics" href="{{ .RelPermalink }}">
                    <noscript>
                        <img src="/comic/{{ .File.ContentBaseName }}/thumb.png" title="{{ .Title }}" width="193" height="200">
                    </noscript>
                    <img class="lazyload" loading="lazy" src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20200%20207%22%3E%3C/svg%3E" width="193" height="200">
                    <span class="valign">{{ $text }}</span>
                </a>
            {{ end -}}
            </div>
        </div>
        <div class="col ads">
            <a href="https://store.loadingartist.com/product-tag/hell/" target="_blank" rel="noopener">
                <img src="/img/promo-images/med_hell-sweet-hell.png" alt="No place like Hell!" loading="lazy" width="300" height="250">
            </a>
            <a href="https://www.patreon.com/LoadingArtist" target="_blank" rel="noopener">
                <img src="/img/patreon/box-patreon.png" alt="Support on Patreon!" loading="lazy" width="300" height="250">
            </a>
        </div>
    </div>

    <p class="fineprint-right">
        Copyright &copy; {{ now.Year }} Gregor Czaykowski & Community
    </p>
</footer>

{{ $main_js := resources.Get "/js/main.js" | minify | fingerprint "sha512" }}
<script src="{{ $main_js.RelPermalink }}" integrity="{{ $main_js.Data.Integrity }}" defer></script>
<script src="/js/gravity/box-2d.js" defer></script>
<script type="text/javascript">
    let highlightTexts = {{ $highlightTexts }};
    window['randomComics'] = [
    {{- range $index, $element := $comics }}
        {"url": {{ .RelPermalink }}{{ with .Resources.GetMatch "thumb.*" }}, "img": {{ .RelPermalink }}{{ end }}, "title": {{ .Title }}}{{ if not (eq (add $index 1) (len $comics)) }},{{ end }}
    {{- end }}
    ];

    let broken = false;
    document.addEventListener("keydown", function (event) {
        if (event.ctrlKey && event.shiftKey && event.altKey && (event.code === "Digit6" || event.code === "Numpad6") && !broken) {
            console.log("BREAK!");
            broken = true;
            let body = document.getElementsByTagName('body')[0];
            body.classList.add("gravity");
            let script = document.createElement('script');
            script.src = '{{ "js/gravity/gravity.js" | relURL }}';
            body.appendChild(script);
        }
    });

    let headerWidget = {
        'url': 'https://www.patreon.com/LoadingArtist',
        'img': '/img/header-widgets/bonus-panels.png',
        'title': 'Bonus panels on Patreon!'
    };
    let twitchLiveHeaderData = {
        'url': 'https://www.twitch.tv/loadingartist',
        'img': '/img/header-widgets/live.gif',
        'title': 'LIVE on Twitch!'
    }

    function replaceRandomImage(target, data) {
        let randomImg = target.getElementsByTagName('img')[0];
        randomImg.src = data.img;
        if (data.url) {
            randomImg.title = data.title;
            randomImg.alt = data.title;
            target.href = data.url;
        }
        if (target.classList.contains('highlight')) {
            target.getElementsByTagName('span')[0].textContent = highlightTexts[highlightTexts.length * Math.random() << 0]
        }
    }

    function showTwitchLive() {
        let twitchlink = document.getElementById('twitchlink');
        twitchlink.innerHTML = 'LIVE!';
        twitchlink.classList.add('live');
        replaceRandomImage(document.querySelector('.header-widget'), twitchLiveHeaderData);
    }

    function showHeaderWidget() {
        replaceRandomImage(document.querySelector('.header-widget'), headerWidget);
    }

    function checkTwitchState() {
        // Twitch LIVE! link
        fetch('{{ .Site.Params.twitchApiHost }}').then(response => response.text())
            .then(data => {
                if (sessionStorage.getItem('twitch-live') !== data) {
                    sessionStorage.setItem('twitch-live', data);
                    if (data === 'live') {
                        showTwitchLive();
                    } else {
                        showHeaderWidget();
                        let twitchlink = document.getElementById('twitchlink');
                        twitchlink.innerHTML = 'Twitch';
                        twitchlink.classList.remove('live');
                    }
                }
            })
            .catch(error => {
                console.error('Error:', error);
                showHeaderWidget();
            });
    }

    document.addEventListener("DOMContentLoaded", () => {
        // header widgets
        let cachedTwitchState = sessionStorage.getItem('twitch-live');
        if (cachedTwitchState === 'live') {
            showTwitchLive();
        } else if (cachedTwitchState !== null) {
            showHeaderWidget();
        }
        checkTwitchState();
        setInterval(checkTwitchState, 60*1000);

        // random banners/thumbs
        document.querySelectorAll('.random[data-random-source]').forEach(randomTarget => {
            let randomSource = 'random' + randomTarget.dataset.randomSource.replace(/^\w/, c => c.toUpperCase())
            let keys = Object.keys(window[randomSource]);
            let randomKey = keys[keys.length * Math.random() << 0];
            replaceRandomImage(randomTarget, window[randomSource][randomKey]);
            delete window[randomSource][randomKey];
        });
    });
</script>
<noscript>
    <style>
        .lazyload {
            display: none !important;
        }
    </style>
</noscript>
</body>
</html>

