{{ define "main" }}
    {{ $pages := where .RegularPages "Type" "in" .Site.Params.mainSections -}}
    {{ if (eq .Kind "home") -}}
        {{ $pages = where .Site.RegularPages "Type" "in" .Site.Params.mainSections -}}
    {{ end -}}

    <div class="page-archive-layout">
        <div class="archive-thumbs">
            {{ range $pages.Reverse -}}
                <div class="box normal">
                    <a class="box2d normal" href="{{ .RelPermalink }}">
                        <img src="/comic/images/{{ .File.BaseFileName }}_thumb.png" title="{{ .Title }}">
                        <span class="valign"><span>{{ .Title }}</span></span>
                    </a>
                </div>
            {{ end -}}
        </div>
    </div>
{{ end -}}
