{{ define "main" }}
    <div class="page-archive-layout">
        <div class="archive-thumbs">
            {{ range .RegularPages.Reverse.GroupByDate "2006" -}}
                {{ range .Pages -}}
                <div class="box">
                    <a class="box2d comic-thumb hover" href="{{ .RelPermalink }}">
                        <img src="{{ with .Resources.GetMatch "thumb.*" }}{{ .RelPermalink }}{{ end }}" loading="lazy" width="200" height="207" title="{{ .Title }}" alt="{{ .Title }}">
                        <span class="valign">{{ .Title }}</span>
                    </a>
                </div>
                {{ end -}}
            {{ end -}}
        </div>
    </div>
{{ end -}}
