{{ define "head" }}
    {{ partial "main-image" (dict "page" . "output" "preload") -}}
{{ end }}
{{ define "main" }}
{{ $pages := where .Site.RegularPages "Section" "in" .Site.Params.mainSections -}}
{{ $next := $pages.Next . -}}
{{ $prev := $pages.Prev . -}}
<div class="page-comic-layout">
    <div class="left-nav comic-sidebar wide-only">
        {{ with $prev -}}
            <a class="box2d comic-thumb highlight prev only-img-hover" href="{{ .RelPermalink }}">
                <img src="{{ with .Resources.GetMatch "thumb.*"}}{{ .RelPermalink }}{{ end }}" title="{{ .Title }}" loading="lazy" width="165" height="171">
                <span class="valign">Previous</span>
            </a>
            {{ range last 1 $pages -}}
            <a href="{{ .RelPermalink }}" class="box2d btn-first first" aria-label="First"></a>
            {{ end -}}
        {{ else -}}
            {{ partial "social-links" . -}}
        {{ end -}}
    </div>
    <div class="right-nav comic-sidebar wide-only">
        {{ with $next -}}
            <a class="box2d comic-thumb highlight next only-img-hover" href="{{ .RelPermalink }}">
                <img src="{{ with .Resources.GetMatch "thumb.*"}}{{ .RelPermalink }}{{ end }}" title="{{ .Title }}" loading="lazy" width="165" height="171">
                <span class="valign">Next</span>
            </a>
            {{ range first 1 $pages -}}
            <a href="{{ .RelPermalink }}" class="box2d btn-last last" aria-label="Last"></a>
            {{ end -}}
        {{ else -}}
            {{ partial "social-links" . -}}
        {{ end -}}
        <a href="/random" class="box2d btn-random" aria-label="Random" rel="nofollow"></a>
    </div>
    <div class="main-image">
        <nav class="pagination medium-or-less" aria-label="Pagination">
            {{ with $prev -}}
                {{ range last 1 $pages -}}
                <a title="First"    href="{{ .RelPermalink }}" class="btn-first" aria-label="First"></a>
                {{ end -}}
                <a title="Previous" href="{{ .RelPermalink }}" class="btn-prev" aria-label="Previous" data-kb-nav-prev></a>
            {{ else -}}
                <span class="disabled"></span>
                <span class="disabled"></span>
            {{ end -}}
            <a title="Random" href="/random" class="btn-random" aria-label="Random" rel="nofollow" data-kb-nav-random></a>
            {{ with $next -}}
                <a title="Next" href="{{ .RelPermalink }}" class="btn-next" aria-label="Next" data-kb-nav-next></a>
                {{ range first 1 $pages -}}
                <a title="Last" href="{{ .RelPermalink }}" class="btn-last" aria-label="Last"></a>
                {{ end -}}
            {{ else -}}
                <span class="disabled"></span>
                <span class="disabled"></span>
            {{ end -}}
        </nav>

        <div class="main-image-container">
            {{ $comicImage := (.Resources.ByType "image").GetMatch (printf "%s.*" .File.ContentBaseName) -}}
            <a href="{{ $comicImage.RelPermalink }}" alt="{{ .Title }}" title="{{ .Title }}">
                {{ partial "main-image" (dict "page" .) -}}
            </a>
        </div>
    </div>
    <div class="left-nav-bottom comic-sidebar wide-only" aria-hidden="true">
        {{ with $prev -}}
        <a class="btn-prev" tabindex="-1" href="{{ .RelPermalink }}"></a>
        {{ end -}}
    </div>
    <div class="right-nav-bottom comic-sidebar wide-only" aria-hidden="true">
        {{ with $next -}}
        <a class="btn-next" tabindex="-1" href="{{ .RelPermalink }}"></a>
        {{ else -}}
        <span class="disabled"></span>
        {{ end -}}
        <a class="btn-random" tabindex="-1" href="/random" rel="nofollow"></a>
    </div>
    <div class="left-post comic-sidebar wide-only finger-snack" aria-hidden="true">
        <img src="/img/fluff/JamampAnim.gif" width="165" height="326" loading="lazy" alt="">
    </div>
    <div class="right-post comic-sidebar wide-only finger-snack" aria-hidden="true">
        <img src="/img/fluff/StevenAnim.gif" width="165" height="326" loading="lazy" alt="">
    </div>
    <div class="comic-post">
        <div class="bonus-banner">
            <a href="https://loadingartist.com/comic/{{ .File.ContentBaseName }}/" target="_blank" rel="noopener"><img src="/img/original_comic.png" alt="Original Comic" width="469" height="93"></a>
        </div>
        <nav class="medium-or-less pagination bottom" aria-hidden="true">
            {{ with $prev -}}
                {{ range last 1 $pages -}}
                <a title="First"    href="{{ .RelPermalink }}" class="btn-first" tabindex="-1"></a>
                {{ end -}}
                <a title="Previous" href="{{ .RelPermalink }}" class="btn-prev" tabindex="-1"></a>
            {{ else -}}
                <span class="disabled"></span>
                <span class="disabled"></span>
            {{ end -}}
            <a title="Random" href="/random" class="btn-random" rel="nofollow" tabindex="-1"></a>
            {{ with $next -}}
                <a title="Next" href="{{ .RelPermalink }}" class="btn-next" tabindex="-1"></a>
                {{ range first 1 $pages -}}
                <a title="Last" href="{{ .RelPermalink }}" class="btn-last" tabindex="-1"></a>
                {{ end -}}
            {{ else -}}
                <span class="disabled"></span>
                <span class="disabled"></span>
            {{ end -}}
        </nav>
        <article>
            {{ partial "post-header" (dict "page" . "site" .Site ) }}
            <div class="body">
                {{ .Content }}
            </div>
        </article>
    </div>
    <div class="vip-left comic-sidebar wide-only finger-snack" aria-hidden="true">
        <img src="/img/fluff/VIPleft.gif" width="164" height="407" loading="lazy" alt="">
    </div>
    <div class="vip-eggs comic-sidebar wide-only" aria-hidden="true">
        <img src="/img/fluff/VIPeggs.gif" width="137" height="193" loading="lazy" alt="">
    </div>
</div>
{{ end }}
