{{ define "main" }}
<div class="page-comic-layout comic type-comic status-publish has-post-thumbnail hentry chapters-comic">
    <nav class="medium-or-less pagination top">
        {{ with .PrevInSection }}
            {{ range last 1 (where .Site.RegularPages "Section" "comic") }}
            <a title="First"    href="{{ .RelPermalink }}" class="ir ir-first"> First </a>
            {{ end }}
            <a title="Previous" href="{{ .RelPermalink }}" class="ir ir-prev"> Previous </a>
        {{ end }}

        {{ with .NextInSection }}
            <a title="Next" href="{{ .RelPermalink }}" class="ir ir-next"> Next </a>
            {{ range first 1 (where .Site.RegularPages "Section" "comic") }}
            <a title="Last" href="{{ .RelPermalink }}" class="ir ir-last"> Last </a>
            {{ end }}
        {{ end }}
    </nav>
    <div class="columns three">
        <div class="col wide-only">
            {{ with .PrevInSection }}
                <a class="normal highlight prev comic-thumb" href="{{ .RelPermalink }}">
                    <img src="/comic/images/{{ .File.BaseFileName }}_thumb.png" title="{{ .Title }}">
                    <span>Previous</span>
                </a>
                {{ range last 1 (where .Site.RegularPages "Section" "comic") }}
                <a href="{{ .RelPermalink }}" class="ir first">First</a>
                {{ end }}
            {{ end }}
            {{ if not .PrevInSection }}
                <div class="social-links">
                    <a class="ir ir-dc" target="_blank" href="https://discord.gg/loadingartist"> Discord </a>
                    <a class="ir ir-fb" target="_blank" href="https://facebook.com/loadingartist"> Facebook </a>
                    <a class="ir ir-tw" target="_blank" href="https://twitter.com/loadingartist"> Twitter </a>
                    <a class="ir ir-in" target="_blank" href="https://instagram.com/loading.artist"> Instagram </a>
                    <h3> Join </h3>
                </div>
            {{ end }}
        </div>
        <div class="col">
            <div class="comic">
                <a href="/comic/images/{{ .File.BaseFileName }}_HD.png" alt="{{ .Title }}" title="{{ .Title }}" >
                    <img src="/comic/images/{{ .File.BaseFileName }}_scaled.jpg" alt="{{ .Title }}" title="{{ .Title }}" />
                </a>
            </div>
        </div>
        <div class="col wide-only">
            {{ with .NextInSection }}
                <a class="normal highlight next comic-thumb" href="{{ .RelPermalink }}">
                    <img src="/comic/images/{{ .File.BaseFileName }}_thumb.png" title="{{ .Title }}">
                    <span>Next</span>
                </a>
                {{ range first 1 (where .Site.RegularPages "Section" "comic") }}
                <a href="{{ .RelPermalink }}" class="ir last">Last</a>
                {{ end }}
            {{ end }}
        </div>
    </div>
    <nav class="medium-or-less pagination btm">
        {{ with .PrevInSection }}
            {{ range last 1 (where .Site.RegularPages "Section" "comic") }}
            <a title="First"    href="{{ .RelPermalink }}" class="ir ir-first"> First </a>
            {{ end }}
            <a title="Previous" href="{{ .RelPermalink }}" class="ir ir-prev"> Previous </a>
        {{ end }}

        {{ with .NextInSection }}
            <a title="Next" href="{{ .RelPermalink }}" class="ir ir-next"> Next </a>
            {{ range first 1 (where .Site.RegularPages "Section" "comic") }}
            <a title="Last" href="{{ .RelPermalink }}" class="ir ir-last"> Last </a>
            {{ end }}
        {{ end }}
    </nav>
</div>
<div class="page-comic-post columns three">
    <div class="col deco">
        <div class="finger-snack">
            <img src="/img/fluff/share-left.gif">
        </div>
        {{ with .PrevInSection }}
        <a class="prev bottom ir ir-prev" href="{{ .RelPermalink }}">Previous</a>
        {{ end }}
    </div>
    <div class="col">
        <div class="bonus-panel">
            <a class="bonus panel a" target="_blank" href="https://loadingartist.com/comic/{{ .File.BaseFileName }}"><img src="/img/original_comic.png" alt="Original Comic"></a>
        </div>
        <article class="col comic type-comic status-publish has-post-thumbnail hentry chapters-comic">
            <header>
                {{ partial "post-header" (dict "page" .) }}
            </header>
            <div class="body">
                {{ .Content }}
            </div>
        </article>
    </div>
    <div class="col deco">
        <div class="finger-snack">
            <img src="/img/fluff/share-right.gif">
        </div>
        {{ with .NextInSection }}
        <a class="next bottom ir ir-next" href="{{ .RelPermalink }}">Next</a>
        {{ end }}
    </div>
</div>
<script type="text/javascript">
    document.addEventListener("keydown", function (event) {
        {{ with .PrevInSection }}
        if (event.keyCode == 37) {
            window.location.href = "{{ .RelPermalink }}";
        }
        {{ end }}

        {{ with .NextInSection }}
        if (event.keyCode == 39) {
            window.location.href = "{{ .RelPermalink }}";
        }
        {{ end }}
    });
</script>
{{ end }}
