{{ define "main" }}
<div id="generate-section-1" class="generate-sections-container">
    <div class="grid-container grid-parent generate-sections-inside-container" itemprop="text">
        <h2 style="text-align: center;">⋆⋆⋆ Newest ⋆⋆⋆</h2>
        <div class="woocommerce columns-4">
            <ul class="products columns-4">
                {{ $pages := where .Site.RegularPages "Section" "store" }}
                {{ range $pages -}}
                    {{ partial "store/product-small" .}}
                {{ end -}}
            </ul>
        </div>
    </div>
</div>
{{ end -}}
