{{ define "main" }}
<div id="generate-section-1" class="generate-sections-container">
    <div class="grid-container grid-parent generate-sections-inside-container" itemprop="text">
        <div
            class="lgc-column lgc-grid-parent lgc-grid-33 lgc-tablet-grid-33 lgc-mobile-grid-100 lgc-equal-heights  lgc-first"
            style="height: 476px;">
            <div class="inside-grid-column"><br> <a href="https://store.loadingartist.com/product-tag/peek-a-boo/">
                <img class="alignnone wp-image-7605 size-full"
                     src="/img/store/2020/11/feat_peek-a-boo.jpg"
                     alt="" width="700" height="840"
                     srcset="/img/store/2020/11/feat_peek-a-boo.jpg 350w, /img/store/2020/11/feat_peek-a-boo-250x300.jpg 250w"
                     sizes="(max-width: 700px) 100vw, 700px"/></a><br></div>
        </div>
        <div class="lgc-column lgc-grid-parent lgc-grid-33 lgc-tablet-grid-33 lgc-mobile-grid-100 lgc-equal-heights "
             style="height: 476px;">
            <div class="inside-grid-column"><br> <a href="https://store.loadingartist.com/product-tag/hell/">
                <img class="alignnone wp-image-7606 size-full"
                     src="/img/store/2020/11/feat_hell-sweet-hell.jpg"
                     alt="" width="700" height="840"
                     srcset="/img/store/2020/11/feat_hell-sweet-hell.jpg 350w, /img/store/2020/11/feat_hell-sweet-hell-250x300.jpg 250w"
                     sizes="(max-width: 700px) 100vw, 700px"/></a><br>
            </div>
        </div>
        <div
            class="lgc-column lgc-grid-parent lgc-grid-33 lgc-tablet-grid-33 lgc-mobile-grid-100 lgc-equal-heights  lgc-last"
            style="height: 476px;">
            <div class="inside-grid-column"><br> <a href="https://store.loadingartist.com/product/peek-a-boo-mug/">
                <img class="alignnone wp-image-7607 size-full"
                     src="/img/store/2020/11/feat_mug-peek-a-boo.jpg"
                     alt="" width="700" height="840"
                     srcset="/img/store/2020/11/feat_mug-peek-a-boo.jpg 350w, /img/store/2020/11/feat_mug-peek-a-boo-250x300.jpg 250w"
                     sizes="(max-width: 700px) 100vw, 700px"/></a><br>
            </div>
        </div>
        <div class="lgc-clear"></div>
    </div>
</div>
<div id="generate-section-2" class="generate-sections-container">
    <div class="grid-container grid-parent generate-sections-inside-container" itemprop="text"><h2
        style="text-align: center;">⋆⋆⋆ Newest ⋆⋆⋆</h2>
        <div class="woocommerce columns-4">
            <ul class="products columns-4">
                {{ $pages := where .Site.RegularPages "Section" "store" }}
                {{ range $pages -}}
                    {{ partial "store/product-small" .}}
                {{ end -}}
            </ul>
        </div>
    </div>
</div>
{{ end -}}
