<div class="social-links">
    <a class="ir ir-dc" target="_blank" href="https://discord.gg/loadingartist"> Discord </a>
    <a class="ir ir-fb" target="_blank" href="https://facebook.com/loadingartist"> Facebook </a>
    <a class="ir ir-tw" target="_blank" href="https://twitter.com/loadingartist"> Twitter </a>
    <a class="ir ir-in" target="_blank" href="https://instagram.com/loading.artist"> Instagram </a>
    <h3> Join </h3>
</div>
<div class="sidebar-highlights">
    <h3 class="ribbon right"> Highlights </h3>
    <ul>
        <li class="comic-thumb">
            <a href="https://twitch.tv/loadingartist/">
                <img class="thumb" src="/img/sidebar-thumbs/stream_purple.jpg">
                <span class="title">TWITCH STREAM</span>
            </a>
        </li>
        <li class="comic-thumb">
            <a href="https://www.patreon.com/LoadingArtist">
                <img class="thumb" src="/img/sidebar-thumbs/patreon_picturepack.jpg">
                <span class="title">PATRON PACKS</span>
            </a>
        </li>
        <li class="comic-thumb">
            <a href="https://discord.gg/loadingartist">
                <img class="thumb" src="/img/sidebar-thumbs/discord_wide.png">
                <span class="title">JOIN THE DISCORD</span>
            </a>
        </li>
    </ul>
</div>
