<h1>
    {{ if or (eq (.pageScratch.Get "kind") "home") (eq (.pageScratch.Get "kind") "section") }}
        <a href="{{ .page.RelPermalink }}" rel="bookmark">{{ .page.Title }}</a>
    {{ else }}
        {{ .page.Title }}
    {{ end }}
</h1>
<div class="meta">
    <span class="author">
        {{ if isset .page.Params "author_link" }}
            <a href="{{ .page.Params.author_link }}" target="_blank">{{ .page.Params.author }}</a>
        {{ else }}
            <span class="author-link">{{ .page.Params.author }}</span>
        {{ end }}
    </span>
    <span class="date">{{ .page.Date.Format "January 2, 2006" }}</span>
    {{ if eq .page.Section "blog" }}
    <div class="tiny-buttons">
        <a class="ir ir-tiny-fb" href="https://www.facebook.com/sharer.php?u={{ .Permalink }}" target="_blank"> Share on Facebook </a>
        <a class="ir ir-tiny-tw" href="https://twitter.com/share?url={{ .Permalink }}" target="_blank"> Share on Twitter </a>
    </div>
    {{ end }}
</div>
