<time class="sidebar-widget news-ticker">
    <h3 class="ribbon right"><a href="/news">News</a></h3>
    <ul>
        {{ range first 3 (where .Site.RegularPages "Section" "news") -}}
        <li>
            <a href="{{ .RelPermalink }}">
                <div class="title">{{ .Title }}</div>
                <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
            </a>
        </li>
        {{ end -}}
    </ul>
    <a href="/news" class="read-more">More news...</a>
</div>
