<div class="sidebar-highlights">
    <h3 class="ribbon right"> Highlights </h3>
    <ul>
        <li class="comic-thumb">
            <a href="https://twitch.tv/loadingartist/">
                <img class="thumb" src="/img/sidebar-thumbs/stream_purple.jpg">
                <span class="title">TWITCH STREAM</span>
            </a>
        </li>
        <li class="comic-thumb">
            <a href="https://www.patreon.com/LoadingArtist">
                <img class="thumb" src="/img/sidebar-thumbs/patreon_picturepack.jpg">
                <span class="title">PATRON PACKS</span>
            </a>
        </li>
        <li class="comic-thumb">
            <a href="https://discord.gg/loadingartist">
                <img class="thumb" src="/img/sidebar-thumbs/discord_wide.png">
                <span class="title">JOIN THE DISCORD</span>
            </a>
        </li>
    </ul>
</div>
