<div class="sidebar-widget social-links">
    <a class="box2d social-icon social-dc" target="_blank" rel="noopener" href="https://discord.gg/loadingartist" aria-label="Discord"></a>
    <a class="box2d social-icon social-fb" target="_blank" rel="noopener" href="https://facebook.com/loadingartist" aria-label="Facebook"></a>
    <a class="box2d social-icon social-tw" target="_blank" rel="noopener" href="https://twitter.com/loadingartist" aria-label="Twitter"></a>
    <a class="box2d social-icon social-in" target="_blank" rel="noopener" href="https://instagram.com/loading.artist" aria-label="Instagram"></a>
    <div class="box2d title">Join</div>
</div>
