{{ define "head" }}
<link rel="preload" as="fetch" href="/index.json">
{{ end }}
{{ define "main"}}
<div class="page-error">
    <h1>404</h1>
    <h2>Hmmmmmmmmmm...</h2>
</div>
<div class="columns two-thirds">
    <div class="col">
        {{ partial "latest-comic-thumbs" . }}
    </div>
    <div class="col sidebar">
        {{ partial "social-links" . }}
        {{ partial "sidebar-news" . }}
    </div>
</div>
<script type="text/javascript">
    const pathParts = window.location.pathname.split("/").filter(Boolean);
    let pageSlug = pathParts.pop();
    let hash = window.location.hash;
    if (pageSlug === 'wp-admin' || pageSlug === 'wp-login.php') {
        document.querySelector('.page-error h1').textContent = "LOL NO!";
        document.querySelector('.page-error h2').textContent = "This is not WordPress";
    } else {
        // if there is a 404, lets try to guess the page the user maybe wanted to go to.
        fetch('/index.json')
            .then(response => response.json())
            .then(data => {
                if (pageSlug in data) {
                    window.location = data[pageSlug].url + hash;
                }
            });
    }
</script>
{{ end }}
