{{ define "main" }}
<div class="columns two-thirds">
    <div class="col">
        <div class="comic-thumbs">
            {{ range first 1 (where .Site.RegularPages "Section" "comic") -}}
                <a class="box2d wide highlight ribbon left" href="{{ .RelPermalink }}">
                    <img src="/comic/images/{{ .File.BaseFileName }}_thumb_wide.png" title="{{ .Title }}" width="193" height="200">
                    <span>Latest Comic</span>
                </a>
            {{ end -}}
            {{ range first 1 (after 1 (where .Site.RegularPages "Section" "comic")) -}}
                <a class="box2d normal" href="{{ .RelPermalink }}">
                    <img src="/comic/images/{{ .File.BaseFileName }}_thumb.png" title="{{ .Title }}" width="193" height="200">
                    <span>Earlier</span>
                </a>
            {{ end -}}
            {{ range first 1 (after 2 (where .Site.RegularPages "Section" "comic")) -}}
                <a class="box2d normal" href="{{ .RelPermalink }}">
                    <img src="/comic/images/{{ .File.BaseFileName }}_thumb.png" title="{{ .Title }}" width="193" height="200">
                    <span>Even Earlier</span>
                </a>
            {{ end -}}
            {{ range first 2 (shuffle (after 3 (where .Site.RegularPages "Section" "comic"))) -}}
                <a class="box2d normal random" href="{{ .RelPermalink }}">
                    <noscript>
                        <img src="/comic/images/{{ .File.BaseFileName }}_thumb.png" title="{{ .Title }}" width="193" height="200">
                    </noscript>
                    <img class="lazyload" src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20300%20300%22%3E%3C/svg%3E" width="193" height="200">
                    <span>Random</span>
                </a>
            {{ end -}}
        </div>
    </div>
    <div class="col wide-only">
        <div class="box2d promo-widget widget_text widget adblock-message widget_custom_html"><div class="textwidget custom-html-widget">
            <a href="https://www.patreon.com/LoadingArtist" target="_blank" rel="noopener"><img src="/img/patreon/box-patreon.png" alt="Support on Patreon!"></a>
        </div></div>
        <div class="box2d promo-widget widget_text widget adblock-message widget_custom_html"><div class="textwidget custom-html-widget">
            <a href="https://store.loadingartist.com/product-tag/peek-a-boo/" target="_blank" rel="noopener"><img src="/img/promo-images/med_mugs-peekaboo.png" alt="New Designs in Store!" /></a>
        </div></div>
    </div>
</div>
<div class="hr"></div>
<div class="columns two-thirds bg-fluff">
    <div class="col">
        {{ $pages := where .Site.RegularPages "Section" "news" }}
        {{ $pageScratch := newScratch }}
        {{ $pageScratch.Set "kind" .Kind }}
        {{ range $pages -}}
            {{ partial "news-post" (dict "pageScratch" $pageScratch "page" .) }}
            <div class="hr"></div>
        {{ end -}}
    </div>
    <div class="col">
        {{ partial "sidebar-highlights" }}
    </div>
</div>
{{ end -}}
