{{ define "head" }}
    {{- $latest := where .Site.RegularPages "Section" "in" (slice "comic" "art") }}
    {{- range first 1 $latest }}
        {{- $thumb := .Resources.GetMatch "thumb_wide.*" }}
        {{- if eq $thumb.MediaType.SubType "png" }}
            {{- $thumb = $thumb.Resize (printf "%dx%d webp" $thumb.Width $thumb.Height) }}
        {{- end }}
        <link rel="preload" as="image" href="{{ $thumb.RelPermalink }}" type="{{ $thumb.MediaType }}">
    {{- end }}
    {{- range first 2 (after 1 $latest) }}
        {{- $thumb := .Resources.GetMatch "thumb.*" }}
        {{- if eq $thumb.MediaType.SubType "png" }}
            {{- $thumb = $thumb.Resize (printf "%dx%d webp" $thumb.Width $thumb.Height) }}
        {{- end }}
        <link rel="preload" as="image" href="{{ $thumb.RelPermalink }}" type="{{ $thumb.MediaType }}">
    {{- end }}
{{ end }}
{{ define "main" }}
<div class="page-home-layout columns two-thirds">
    <div class="col">
        {{ partial "latest-comic-thumbs" . }}
    </div>
    <div class="col ads wide-only">
        <a class="box2d" href="https://www.patreon.com/LoadingArtist" target="_blank" rel="noopener">
            <img src="/img/patreon/box-patreon.png" alt="Support on Patreon!" title="Support on Patreon!" loading="lazy" width="300" height="250">
        </a>
        <a class="box2d" href="https://store.loadingartist.com/product-tag/peek-a-boo/" target="_blank" rel="noopener">
            <img src="/img/promo-images/med_mugs-peekaboo.png" alt="New Designs in Store!" title="New Designs in Store!" loading="lazy" width="300" height="250">
        </a>
    </div>
</div>
<hr>
<div class="page-news-layout columns two-thirds">
    <div class="col">
        {{ $pages := where .Site.RegularPages "Section" "news" -}}
        {{ $pageScratch := newScratch -}}
        {{ $pageScratch.Set "kind" .Kind -}}
        {{ $pageSize := 5 -}}
        {{ range $index, $element := first $pageSize $pages -}}
            {{ if lt $index 2 -}}
                {{ partial "news-post" (dict "pageScratch" $pageScratch "page" . "site" .Site ) }}
            {{ else -}}
                <article>
                    {{ partial "post-header" (dict "pageScratch" $pageScratch "page" . "site" .Site ) }}
                    <div class="body summary">
                        <p>{{ .Summary }}</p>
                        {{ if or .Truncated .Params.summary -}}
                        <a class="read-more" href="{{ .RelPermalink }}">Read More</a>
                        {{ end -}}
                    </div>
                </article>
            {{ end -}}
            <hr {{- if eq (add $index 1) (len $pages) }} class="medium-or-less"{{ end }}>
        {{ end -}}

        {{ if gt (len $pages) $pageSize -}}
        <div class="actions btn wide-only">
            <a class="ribbon left" href="/news/page/2">Previous News</a>
        </div>
        <nav class="pagination medium-or-less" aria-label="Pagination">
            <a href="/news/page/2" class="btn-prev" aria-label="Older posts"></a>
        </nav>
        {{ end -}}
    </div>
    <div class="col sidebar">
        {{ partial "social-links" . }}
        {{ partial "sidebar-highlights" . }}
    </div>
</div>
{{ end -}}
