<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" charset="UTF-8" content="text/html">
    <meta name="viewport" content="width=device-width">

    {{ $siteTitle := "The New Gregor" -}}
    <title>{{ $siteTitle }}{{ with .Title }} &raquo; {{ . }}{{ end }}</title>

    {{ $description := "TODO: quote" -}}
    {{- with $description }}
    <meta name="description" content="{{ . }}">
    {{- end }}

    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ $siteTitle }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:title" content="{{ .Title }}">
    {{- with $description }}
    <meta property="og:description" content="{{ $description }}">
    {{- end }}
    {{- with .Resources.GetMatch (printf "%s.*" .File.ContentBaseName) }}
    <meta property="og:image" content="{{ .Permalink }}">
    {{- end }}

    {{- block "head" . }}{{- end -}}

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital@1&display=swap" as="style">
    <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital@1&display=swap">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital@1&display=swap"></noscript>
    {{ $css_reset := resources.Get "/css/reset.css" -}}
    {{ $css_additional := resources.Get "/css/the-new-gregor.css" -}}
    {{ $css_all := slice $css_reset $css_additional | resources.Concat "/css/the-new-gregor.css" | minify | fingerprint "sha512" -}}
    <link rel="stylesheet" href="{{ $css_all.RelPermalink }}" integrity="{{ $css_all.Data.Integrity }}" media="screen">

    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }} Feed" href="{{ "index.xml" | absURL }}">
</head>
<body>
<header>
    <a href="/the-new-gregor/" id="logo" aria-label="THE NEW YORKER"></a>
    <nav id="main-nav" aria-label="Primary">
        <input type="checkbox" id="nav-toggle" class="nav-toggle" aria-hidden="true">
        <label for="nav-toggle" class="nav-toggle-label" aria-label="Toggle Navigation">
            <div></div>
            <div></div>
            <div></div>
        </label>
        <ul>
            <li><a href="/">LoadedArtists Home</a></li>
            <li>
                THE NEW GREGOR
                <ul>
                    <li><a href="/the-new-gregor/">Cover</a></li>
                    <li><a href="/the-new-gregor/contents/">Contents</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>

{{ $currentSection := "" -}}
{{ with .Parent.File -}}
    {{ $currentDirs := split (replaceRE "/$" "" .Dir) "/" -}}
    {{ $currentSection = index $currentDirs (sub (len $currentDirs) 1) -}}
{{ end -}}
<main class="section-{{ $currentSection }}">
    <div id="content">
        {{- block "main" . }}{{- end }}
    </div>
    <nav aria-label="Pagination">
        {{ $pages := (.Parent.RegularPages.ByParam (default "title" .Parent.Params.order)).Reverse }}

        {{ $prevParams := .Params.prev -}}
        {{ $prevPage := false -}}
        {{ $prevSection := false -}}
        {{ $prevText := $prevParams.text -}}
        {{ if $prevParams.page -}}
            {{ $prevPage = .GetPage (replaceRE "/$" "" $prevParams.page) -}}
        {{ else if $prevParams.section -}}
            {{ $prevSection = .GetPage $prevParams.section -}}
        {{ end -}}
        {{ if not $prevPage -}}
            {{ $prevPage = $pages.Prev . -}}
            {{ if and (not $prevPage) .Parent.Params.prev -}}
                {{ $parentPrevParams := .Parent.Params.prev -}}
                {{ $prevText = $parentPrevParams.text -}}
                {{ if $parentPrevParams.page -}}
                    {{ $prevPage = .GetPage (replaceRE "/$" "" $parentPrevParams.page)  -}}
                {{ end -}}
                {{ if not $prevPage -}}
                    {{ $prevSection = .GetPage $parentPrevParams.section -}}
                {{ end -}}
            {{ end -}}
        {{ end -}}
        {{ if $prevSection -}}
            {{ range last 1 ($prevSection.RegularPages.ByParam (default "title" $prevSection.Params.order)) -}}
                {{ $prevPage = . -}}
            {{ end -}}
        {{ end -}}
        {{ if $prevPage -}}
        <a href="{{ $prevPage.RelPermalink }}" class="prev" data-kb-nav-prev>{{ default "previous" $prevText }}</a>
        {{ end -}}

        {{ $nextParams := .Params.next -}}
        {{ $nextPage := false -}}
        {{ $nextSection := false -}}
        {{ $nextText := $nextParams.text -}}
        {{ if $nextParams.page -}}
            {{ $nextPage = .GetPage (replaceRE "/$" "" $nextParams.page) -}}
        {{ else if $nextParams.section -}}
            {{ $nextSection = .GetPage $nextParams.section -}}
        {{ end -}}
        {{ if not $nextPage -}}
            {{ $nextPage = $pages.Next . -}}
            {{ if and (not $nextPage) .Parent.Params.next -}}
                {{ $parentNextParams := .Parent.Params.next -}}
                {{ $nextText = $parentNextParams.text -}}
                {{ if $parentNextParams.page -}}
                    {{ $nextPage = .GetPage (replaceRE "/$" "" $parentNextParams.page)  -}}
                {{ end -}}
                {{ if not $nextPage -}}
                    {{ $nextSection = .GetPage $parentNextParams.section -}}
                {{ end -}}
            {{ end -}}
        {{ end -}}
        {{ if $nextSection -}}
            {{ range first 1 ($nextSection.RegularPages.ByParam (default "title" $nextSection.Params.order)) -}}
                {{ $nextPage = . -}}
            {{ end -}}
        {{ end -}}
        {{ if $nextPage -}}
        <a href="{{ $nextPage.RelPermalink }}" class="next" data-kb-nav-next>{{ default "next" $nextText }}</a>
        {{ end -}}
    </nav>
</main>

{{ with .Params.author -}}
<footer>
    <div id="author">
        By {{ . }}
    </div>
</footer>
{{ end -}}

{{ $main_js := resources.Get "/js/main.js" | minify | fingerprint "sha512" }}
<script src="{{ $main_js.RelPermalink }}" integrity="{{ $main_js.Data.Integrity }}" defer></script>
</body>
</html>

